@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-socials a {
  margin: 0px 5px;
}
.nav-list a {
  border-bottom: 2px solid transparent;
}
.nav-list a:hover,
.nav-list a:focus {
  color: rgb(153 27 27);
  border-bottom: 2px solid rgb(153 27 27);
  transition: ease-in-out 0.2s;
}
.nav-socials a:hover {
  color: rgb(153 27 27);
  transition: ease-in-out 0.1s;
}
